<html>
<head>
<link rel="alternate" type="application/rss+xml" title="Capital One Design Library &raquo; Home Comments Feed" href="http://onedesign.kdc.capitalone.com/home/feed/"/>
<link rel='stylesheet' id='docs-css' href='css/css1.css' type='text/css' media='all'/>
<link rel='stylesheet' id='base-css' href='css/css2.css' type='text/css' media='all'/>
<link rel='stylesheet' id='one-design-css' href='css/css3.css' type='text/css' media='all'/>
<link rel='stylesheet' id='jetpack_css-css' href='css/css4.css' type='text/css' media='all'/>
<style>
body {
font-family: Helvetica,
sans-serif;
color: #888888;
margin: 0;
background: white;
}
div.header {
background: #004977;
height: 88;
margin: 0;
}
div.content {
height: 60%;
width: 100%;
margin: 0;
background-image: url('images/peopleBackground.png');
opacity:0.4;
}
div.description {
height: 98px;
background: #ebeaec;
}
div.legalInfo {
background: white;
text-align: center;
margin: 0;
}

div.login {
border-radius: 5px;
margin: 0 auto;
color: #555;
width: 300px;
height: 250px;
border: 2px solid #555;
background: #efefef;
text-align: center;
}

img#logo {
height: 60px;
width: auto;
margin-left: 10%;
margin-top: 15px;
}
footer {
margin: 0;
}
</style>
</head>
<body>

<div id="header" class="header">
<span id="logo">
<img src="images/capitalOneLogo.png" id="logo">
</span>
</div>

<div id="contentView" class="content">
<img src="images/past_year.png" />
</div>

<div class="dss-home-latest">
<div class="dss-home-latest_bd">
<p class="dss-home-latest_ver">
<span class="dss-home-release">
<span class="dss-home-release_ver" title="Release 1">BBnT</span>
<time class="dss-home-release_date" datetime="2015-2-3">February 3, 2015</time>
</span>
</p>
<p class="dss-home-latest_detail" style="color: #555" id="userMessage">
Last year looks great!
</p>
</div>
</div>

<footer style="margin: 0; background: white">
<div class="legalInfo" style="margin: 40px 0 40px">
<p>2015 Capital&nbsp;One. All rights reserved. This site provides information and access to Capital&nbsp;One's Digital&nbsp;Hackathon&nbsp;Initiative.</p>
</div>
</footer>
</body>
</html>